
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div>
  <input [(ngModel)]="username" placeholder="Enter GitHub username" />
  
  <button (click)="   getRepositories(); getProfile() ">Get Repositories</button>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  
    <div *ngIf="profile">
      <div>
      <img [src]="profile.avatar_url" alt="avatar" />
      </div>
      <div class="info">
      <p>Username: {{ profile.login }}</p>
      <p>Name: {{ profile.name }}</p>
      <p>Bio: {{ profile.bio }}</p>
      <p>Followers: {{ profile.followers }}</p>
      <p>Following: {{ profile.following }}</p>
      </div>
    </div>
 
    <div ng-repeat="repository in repositories | slice:((currentPage-1)*itemsPerPage):(currentPage*itemsPerPage)">
  
    <div class="grid-container" *ngIf="repositories">
    <div class="grid-item" *ngFor="let repository of repositories">
      <div class="w3-card-4">

        <header class="w3-container w3-light-grey" >
          <h3 (click)="openRepository(repository.html_url)"  id="we">{{ repository.name }}</h3>
        </header>
        
        <div class="w3-container">
          <p>{{ repository.description }}</p>
          <hr>
         
          <p class="lang">{{ repository.language }}</p>
         
          
        </div>
      </div>
      
      
        
        
     </div>
     <div *ngIf="totalPages > 1">
      <button (click)="previousPage()" [disabled]="currentPage === 1" class="button">Previous</button>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="button">Next</button>
  </div>
    </div>
   </div>
    
   
   
</div>
